<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Web"
            id="eclipse-web-kit">
      </category>
      <view
            name="Html palette"
            icon="icons/sample.gif"
            category="eclipse-web-kit"
            class="com.eclipse.web.kit.views.HtmlPaletteView"
            id="com.eclipse.web.kit.views.HtmlPaletteView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.eclipse.web.kit.views.HtmlPaletteView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.eclipse.web.kit.preferences.WebKitPreferences"
            class="com.eclipse.web.kit.preferences.HtmlPalettePreferences"
            id="com.eclipse.web.kit.preferences.HtmlPalettePreferences"
            name="Html palette">
      </page>
      <page
            class="com.eclipse.web.kit.preferences.WebKitPreferences"
            id="com.eclipse.web.kit.preferences.WebKitPreferences"
            name="Eclipse web kit">
      </page>
      <page
            category="com.eclipse.web.kit.preferences.WebKitPreferences"
            class="com.eclipse.web.kit.preferences.BrokenLinksPreferences"
            id="com.eclipse.web.kit.preferences.BrokenLinksPreferences"
            name="Broken links">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.eclipse.web.kit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="eclipse-web-kit.contribution.project"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="eclipse-web-kit.menu.project"
               label="Eclipse Web Kit"
               path="additions">
            <separator
                  name="group.project">
            </separator>
         </menu>
         <action
               class="com.eclipse.web.kit.popup.actions.TestBrokenLinksAction"
               enablesFor="1"
               id="eclipse-web-kit.newAction"
               label="Test broken links ..."
               menubarPath="eclipse-web-kit.menu.project/group.project">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="brokenlink"
         name="Broken link"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.eclipse.web.kit.preferences.WebKitPreferences"
            class="com.eclipse.web.kit.preferences.HtmlPalettePreferences"
            id="com.eclipse.web.kit.preferences.HtmlPalettePreferences"
            name="Html palette properties"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.eclipse.web.kit.preferences.WebKitPreferences"
            id="com.eclipse.web.kit.preferences.WebKitPreferences"
            name="Eclipse Web Kit">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
